/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

html {
  min-height: 100%;
  padding-bottom: 1px;
}

body {
  background-color: #f5f5f5;
  font-family: Helvetica, Arial, sans-serif;

}
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}
#block-system-main {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #094569;
}
a:link, a:visited {
  text-decoration: none;
  color: #2e5d79;
}
a:hover {
  color: #4fa0d0;
}

#zone-user-wrapper {
  width: 100%;
  height: 45px;
  /* background-color: #fe9a20; */
  background-color: #ffffff;
}
hgroup.site-name-slogan h1.site-name {
  display: none;
}
h2.block-title {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #094569;
}
#zone-menu-wrapper {
  width: 100%;
  height: 35px;
  background-color: #FD981D;
}
#block-fb-connect-login-ssrx.block-fb-connect {
  float: right;
}
#stepone div.home-img {
  margin-top: 20px;
  height: 348px;
}

.zone-footer-wrapper {
  background-image: linear-gradient(bottom, rgb(255,245,232) 10%, rgb(254,193,119) 80%);
  background-image: -o-linear-gradient(bottom, rgb(255,245,232) 10%, rgb(254,193,119) 80%);
  background-image: -moz-linear-gradient(bottom, rgb(255,245,232) 10%, rgb(254,193,119) 80%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,245,232) 10%, rgb(254,193,119) 80%);
  background-image: -ms-linear-gradient(bottom, rgb(255,245,232) 10%, rgb(254,193,119) 80%);

  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.1, rgb(255,245,232)),
	color-stop(0.8, rgb(254,193,119))
);
  position: relative;
  bottom: 0px;
  width: 100%;
  padding-bottom: 10px;
}

.zone-footer{
  color: #094569;
}

.zone-footer .block-title {
  font: 20px 'Helvetica' sans-serif bold;
}
div#zone-footer.zone div#region-footer-first.grid-4 div.region-inner section#block-block-4.block div.block-inner h2.block-title,
#block-views-recent-blog-posts-block .block-title,
#block-block-1 .block-title {
  padding: 10px 0 0 0;
}

#block-block-1 .content {
  display: none;
}

div#region-footer-first #block-views-recent-blog-posts-block div.view-content {
  display: block;
}



div#region-footer-first #block-views-recent-blog-posts-block .views-row {
  min-height: 80px;
  padding-bottom: 10px;
}

div#region-footer-first #block-views-recent-blog-posts-block div.view-content p {
  font-size: 14px;
  font-family: 'Myriad Pro';
  font-weight: bold;
  padding-top: 15px;
  margin-bottom: 0px;
}

.views-field-created {
  font-size: 12px;
  font-family: 'Lucida Sans Unicode';
  color: #696969;
}

div#region-footer-first #block-views-recent-blog-posts-block div.view-content img {
  border: 5px #000000 solid;
  float: left;
  width: 60px;
  height: 60px;
  margin: 0px 10px;
  background: #FFFFFF;
}

.more-link a {
  background: transparent url('/sites/all/themes/ssrx/images/buttonbackground.png') no-repeat;
  color: #7c7c7c;
  font: 13px Helvetica sans-serif bold;
  line-height: 30px;
  text-decoration: none;
  float: left;
  padding-left: 45px;
  width: 169px;
  line-height: 33px;
  text-align: left;
  margin-left: 10px;
}

#zone-footer .block-menu .content .menu li.leaf {
  list-style: none;
  text-indent: 5px;
}

#zone-footer .leaf a {
  font-size: 16px;
  color: #094569;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

.socialmedia {
  float: left;
  padding: 10px 4px;
  display: inline;
}

#twitter {
  padding: 10px 0px 10px 4px;
}
#block-block-3 {
  text-align: center;
  border-top: solid 1px #094569;
  margin-top: 35px;
  padding-top: 20px;
  text-transform: uppercase;
}

.truefooter a {
  text-decoration: none;
  color: #094569;
}

#region-content {
  width: 960px;
  margin: 0 0 30px 0;
}
#block-block-4 .content {
  font-size: 16px;
  line-height: 22px;
}
.steps {
  width: 296px;
  float: left;
  margin: 0px;
}

#stepone,
#steptwo {
  margin-right: 20px;
}

.bignumber {
  background-color: #fe9a20;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  color: #094569;
  font-style: italic;
  font-family: Arial;
  font-size: 35px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  margin: 10px 10px 10px 0px;
  float: left;
}

#stepone .steptitle,
#steptwo .steptitle {
  font-style: italic;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  color: #094569;
  padding: 15px 0;
}

#stepthree .steptitle {
  font-style: italic;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  color: #094569;
  padding: 15px;
}

#page-title {
  font-style: italic;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  color: #094569;
}
.front h1#page-title {
  display: none;
}
.node-type-pharmacy h1#page-title {
  display: none;
}

.stepcontent {
  font-family: Arial;
  font-size: 16px;
  color: #555555;
  padding: 0 10px;
}
div.home-img {
  height: 368px;
}

#win_image {
  float: left;
  }

#stepthree .stepcontent p {
  float: right;
  width: 180px;
}
#block-superfish-1 h2.block-title{
  display: none;
}

/* Search block inside the header region */
#zone-header-wrapper{
  height: 150px;
  width: 100%;
  background: #f1ecdd; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZWNkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2U3ZTJkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2UyZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #f1ecdd 0%, #e7e2d3 57%, #e7e2d3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1ecdd), color-stop(57%,#e7e2d3), color-stop(100%,#e7e2d3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f1ecdd 0%,#e7e2d3 57%,#e7e2d3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f1ecdd 0%,#e7e2d3 57%,#e7e2d3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f1ecdd 0%,#e7e2d3 57%,#e7e2d3 100%); /* IE10+ */
  background: linear-gradient(top,  #f1ecdd 0%,#e7e2d3 57%,#e7e2d3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1ecdd', endColorstr='#e7e2d3',GradientType=0 ); /* IE6-8 */
}
#zone-header-wrapper .views-exposed-widget.views-reset-button,
#zone-header-wrapper .form-item.form-type-textfield.form-item-distance-search-distance,
#zone-header-wrapper  .form-item.form-type-select.form-item-distance-search-units,
#zone-header-wrapper #edit-field-24-hour-pharmacy-value-wrapper,
#zone-header-wrapper #edit-field-online-pharmacy-value-wrapper {
  display: none;
}
#zone-header-wrapper h2.block-title {
  font-size: 30px;
  text-shadow: -1px -1px 1px #2e5d79, 1px 1px 1px #ffffff;
}
#zone-header-wrapper .block-inner {
  width: 940px;
  margin: 0 auto;
}
#zone-header-wrapper input#edit-title,
#zone-header-wrapper input#edit-field-doctor-title-value {
  width: 545px;
  height: 40px;
}
input.form-text,
input#edit-field-drug-variety-und-0-nid,
#zone-header-wrapper input {
  background-image: none;
  font-size: 18px;
  line-height: 38px;
}
input#edit-field-location-und-0-nid,
input.form-text,
#zone-header-wrapper input.form-autocomplete {
  background-image: none;
  background-position: left top;
  background-repeat: no-repeat;
}
#zone-header-wrapper #edit-title--2-wrapper,
.views-exposed-form .views-exposed-widget {
  position: relative;
  margin: 0 10px 0 0;
  padding: 0;
}
#zone-header-wrapper #edit-title--2,
#edit-field-drug-variety-und-0-nid {
  height: 40px;
  width: 450px;
}
input#edit-field-location-und-0-nid,
input.form-text,
input#edit-field-drug-variety-und-0-nid,
#zone-header-wrapper input.form-text {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: rgb(229,229,228); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(229,229,228,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,228,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(229,229,228,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(229,229,228,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(229,229,228,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(229,229,228,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e4', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
html.js input.form-autocomplete.throbbing {
  background: #FDFDFD!important;
  background-image: url(../images/ajax-loader.gif), -moz-linear-gradient(top,  rgba(229,229,228,1) 0%, rgba(255,255,255,1) 100%)!important;
  background-image: url(../images/ajax-loader.gif), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,228,1)), color-stop(100%,rgba(255,255,255,1)))!important;
  background-image: url(../images/ajax-loader.gif), -webkit-linear-gradient(top,  rgba(229,229,228,1) 0%,rgba(255,255,255,1) 100%)!important;
  background-image: url(../images/ajax-loader.gif), -o-linear-gradient(top,  rgba(229,229,228,1) 0%,rgba(255,255,255,1) 100%)!important;
  background-image: url(../images/ajax-loader.gif), -ms-linear-gradient(top,  rgba(229,229,228,1) 0%,rgba(255,255,255,1) 100%)!important;
  background-image: url(../images/ajax-loader.gif), linear-gradient(top,  rgba(229,229,228,1) 0%,rgba(255,255,255,1) 100%)!important;

  background-position: 98% 0px!important;
  background-repeat: no-repeat!important;
}
#zone-header-wrapper div#edit-title-wrapper,
#zone-header-wrapper div#edit-distance-wrapper,
#zone-header-wrapper .views-exposed-widget.views-submit-button,
#zone-header-wrapper .views-exposed-form .views-exposed-widget .form-submit {
  position: relative;
  padding: 0;
  margin: 0 10px 0 0;
}
edit-submit-doctors
#zone-header-wrapper .views-exposed-widget.views-submit-button,
#zone-header-wrapper .views-exposed-form .views-exposed-widget .form-submit,
div.views-exposed-widget.views-submit-button {
  margin: 0;
}
#zone-header-wrapper  input#edit-distance-postal-code {
  width: 240px;
  height: 40px;
}
form.node-form input.form-text {
  height: 40px;
}
#zone-header-wrapper input#edit-submit-doctors,
#zone-header-wrapper input#edit-submit-pharmacies,
#zone-header-wrapper input#edit-submit-prescription-price-search
input#edit-submit {
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  background: rgb(253,152,29); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkOTgxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmM4ODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(253,152,29,1) 0%, rgba(255,200,132,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,152,29,1)), color-stop(100%,rgba(255,200,132,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(253,152,29,1) 0%,rgba(255,200,132,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(253,152,29,1) 0%,rgba(255,200,132,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(253,152,29,1) 0%,rgba(255,200,132,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(253,152,29,1) 0%,rgba(255,200,132,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd981d', endColorstr='#ffc884',GradientType=0 ); /* IE6-8 */

  margin-top: -7px;
  color: #ffffff;
  text-shadow: 0px -1px 0px #668337;

  /*text-shadow: 1px 1px 1px #ffffff, -1px -1px 1px #000000;*/
}
#zone-header-wrapper input#edit-submit-doctors.on,
#zone-header-wrapper input#edit-submit-prescription-price-search.on,
#zone-header-wrapper input#edit-submit-pharmacies.on,
input#edit-submit.on {
  box-shadow: none;
  background: rgb(255,245,232); /* Old browsers */
  background: rgb(255,200,132); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzg4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZTlhMjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,200,132,1) 0%, rgba(254,154,32,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,200,132,1)), color-stop(100%,rgba(254,154,32,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,200,132,1) 0%,rgba(254,154,32,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,200,132,1) 0%,rgba(254,154,32,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,200,132,1) 0%,rgba(254,154,32,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,200,132,1) 0%,rgba(254,154,32,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc884', endColorstr='#fe9a20',GradientType=0 ); /* IE6-8 */
}
#zone-header-wrapper input#edit-submit-doctors,
#zone-header-wrapper input#edit-submit-prescription-price-search,
#zone-header-wrapper input#edit-submit-pharmacies {
  width: 135px;
  height: 50px;
}
div#zone-header-wrapper div#views-exposed-form-doctors-page div.views-exposed-widget.views-submit-button {
  margin: 0;
}
div#edit-distance-wrapper label {
  display: none;
}
div#block-views-exp-doctors-page {
  width: 940px;
}
div#edit-distance-wrapper div.form-item-distance-postal-code label {
  display: inline;
}
#region-footer-second {
  position: relative;
}
#region-footer-second .block {
  width: 180px;
  min-height: 150px;
  float: left;
  margin: 0 10px 10px 0;
}
#region-footer-second #block-block-1 {
  width: 620px;
  min-height: 0;
}
#region-footer-second #block-block-2 {
  width: 360px;
  float: right;
  min-height: 0;
  margin: -50px 0 0 0;
}
#region-footer-second  section#block-menu-menu-about-simply-smarter-rx {
  width: 230px;
}
#region-footer-second #block-block-2 div.block-inner {
  padding-left: 130px;
}
/* Pharmacy Page */
.map-header-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.map-header-links li {
  display: block;
  position: relative;
  float: right;
  margin-right: 20px;
}
.map-header-title {
  width: 400px;
  float: left;
}
div.gmap {
  clear: both;
}
.node-type-pharmacy h3.page-title {
  margin: 0 0 3px 0;
}
/* Login Block with Facebook Connect */
#block-fb-connect-login-ssrx ul {
  list-style: none;
  width: 100%;
}
div.ssrxbutton,
td.ssrxbutton div,
.ssrx.button li,
div.ssrx.button {
  list-style: none;
  float: left;
  display: block;
  height: 26px;
  background: rgb(237,237,237); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyMyUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmVmZWZlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(237,237,237,1) 23%, rgba(254,254,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,rgba(237,237,237,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 23%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(237,237,237,1) 23%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(237,237,237,1) 23%,rgba(254,254,254,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(237,237,237,1) 23%,rgba(254,254,254,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#fefefe',GradientType=0 ); /* IE6-8 */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: -1px -1px 2px #999999;
  border: 1px solid #cccccc;
}
div.ssrxbutton:hover,
td.ssrxbutton div:hover,
.ssrx.button li:hover,
div.ssrx.button:hover {
  box-shadow: none;
  background: rgb(254,254,254); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyMyUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWRlZGVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(254,254,254,1) 23%, rgba(237,237,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,rgba(254,254,254,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 23%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(254,254,254,1) 23%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(254,254,254,1) 23%,rgba(237,237,237,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(254,254,254,1) 23%,rgba(237,237,237,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}
div.ssrxbutton a,
td.ssrxbutton a,
a.ssrx.button {
  background: transparent url('/sites/all/themes/ssrx/images/ssrx_button_icon.png') 5px 2px no-repeat; /* 20px x 20px */
  padding: 3px 10px 3px 30px;
  font-size: 12px;
  color: #999999;
  text-shadow: -1px -1px #cccccc, 1px 1px #ffffff;
  line-height: 19px;
  color: #7c7c7c;
  display: block;
  height: 26px;
}
#block-fb-connect-login-ssrx.block-fb-connect ul.ssrx.button li.last {
  background: none;
  box-shadow: none;
  border: none;
  padding: 3px 0 0 0;
}
input#edit-submit {
  font-size: 14px;
}
#block-fb-connect-login-ssrx {
  min-width: 400px;
}
#block-fb-connect-login-ssrx #submitted-pic {
  width: 35px;
}
#block-fb-connect-login-ssrx #submitted-pic img {
  width: 25px;
  height: 25px;
  margin: 0;
  float: left;
}
div.registered {
  float: left;
  margin: 10px 20px 10px 0;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
div.registered a,
div.registered.points {
  color: #fe9a20;
}
#block-fb-connect-login-ssrx #submitted-pic img {
  margin: 0 0 0 0;
}
#submitted-pic {
  margin: 10px 0 10px 0;
}
div.registered.fb-connect,
div.registered.logout,
div.registered.report {
  font-weight: normal;
}
/* location.tpl.php */
h3.pharmacy-title {
  margin: 0;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
}
.context-pharmacies #region-content {
  margin: 0;
}

/* all views tables */
thead th, th {
  background: none;
  background-color: none;
}
thead th, thead a, thead a:link, thead a:visited {
  color: #ffffff;
  text-shadow: 0px 1px 1px #094569;
  font-weight: bold;

}
table.sticky-header,
table.sticky-header thead,
table.views-table thead {
  background: rgb(9,69,105); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA5NDU2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iIzFjNzBhMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzcwYTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(9,69,105,1) 0%, rgba(28,112,162,1) 65%, rgba(28,112,162,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(9,69,105,1)), color-stop(65%,rgba(28,112,162,1)), color-stop(100%,rgba(28,112,162,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(9,69,105,1) 0%,rgba(28,112,162,1) 65%,rgba(28,112,162,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(9,69,105,1) 0%,rgba(28,112,162,1) 65%,rgba(28,112,162,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(9,69,105,1) 0%,rgba(28,112,162,1) 65%,rgba(28,112,162,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(9,69,105,1) 0%,rgba(28,112,162,1) 65%,rgba(28,112,162,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#094569', endColorstr='#1c70a2',GradientType=0 ); /* IE6-8 */
  color: #ffffff;
}
table.sticky-header thead  a {
  color: #ffffff;
}
td.pharmacy-title h4 {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}
tr.even, tr.odd {
  background: transparent;
  background-color: transparent;
  border-bottom: 1px solid #222222;
}
table {
  border: none;
}
tr.even td , tr.odd td{
  background-color: transparent;
}
tbody tr:hover {
  background-color: #fede84;
}
h4.pharmacy-title {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
div.gmap-control div div div div div div {
  border-radius: 5px;
}
div.gmap-popup span.views-field span.field-content {
  font-size: 10px;
  line-height: 1;
}
div.gmap-popup br {
  line-height: 80%;
}
li.istf-1,
div.istf-1 {
  height: 32px;
  width: 32px;
  text-indent: -9999px;
  background: transparent url(../images/istf.png) left top no-repeat;
}
.views-table div.istf-1 {
  margin: 0 auto;
}
p.gmap-bubble-address {
  margin: 0;
  line-height: 1.1;
}
div.comment-wrapper {
  clear: both;
}

#zone-content-wrapper {
  /** background: transparent url(../images/12x12_tratteggio.gif) left top repeat; */
}
li#menu-754-1 a {
  text-transform: capitalize;
}
.pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a {
  padding: 4px 0;
  text-align: center;
  width: 75px;
}
.pager li.pager-next {
  position: absolute;
  right: 75px;
  top: 0;
}