th.views-field.views-field-field-location {
  width: 200px;
}
th.views-field.views-field-field-quantity {
  width: 50px;
}
th.views-field.views-field-field-price {
  width: 55px;
}
th a img {
  margin: 0;
}
a.ingredient-title {
  font-weight: bold;
}
div.ingredient-details {
  width: 100%;
  margin-left: 1em;
  font-size: 9px;
}
table.views-table h3.page-title {
  margin: 0;
}
#dashboard-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  width: 320px;
  float: left;
  padding: 0 10px 0 0;
  margin: 0 0 0 10px;
  line-height: 55px;
}
#price-search-facets,
div.view.view-prescription-price-search.view-id-prescription_price_search.view-display-id-attachment_1 {
  height: 52px;
  background: rgb(254,128,88); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzNCUiIHN0b3AtY29sb3I9IiNmZTgwNTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmVhMjg0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(254,128,88,1) 34%, rgba(254,162,132,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,rgba(254,128,88,1)), color-stop(100%,rgba(254,162,132,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(254,128,88,1) 34%,rgba(254,162,132,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(254,128,88,1) 34%,rgba(254,162,132,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(254,128,88,1) 34%,rgba(254,162,132,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(254,128,88,1) 34%,rgba(254,162,132,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8058', endColorstr='#fea284',GradientType=0 ); /* IE6-8 */
}
.context-prescriptions .view-content {
  margin-top: 1em;
}
#price-search-facets ul {
  list-style: none;
  float: right;
  padding: 0;
  margin: 0;
  height: 50px;
}
#price-search-facets ul li {
  list-style: none;
  float: left;
  color: #ffffff;
}
#price-search-facets ul li a {
  list-style: none;
  float: left;
  color: #ffffff;
  padding: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
}
a.search-link {
  background-color: #fe8058;
  margin-left: 2px;
  border: 1px solid #fe5520;
}
a.search-link.proximity.active,
a:hover.search-link {
background: rgb(254,162,132); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYTI4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY0JSIgc3RvcC1jb2xvcj0iI2ZlNTUyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(254,162,132,1) 0%, rgba(254,85,32,1) 64%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,162,132,1)), color-stop(64%,rgba(254,85,32,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(254,162,132,1) 0%,rgba(254,85,32,1) 64%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(254,162,132,1) 0%,rgba(254,85,32,1) 64%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(254,162,132,1) 0%,rgba(254,85,32,1) 64%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(254,162,132,1) 0%,rgba(254,85,32,1) 64%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea284', endColorstr='#fe5520',GradientType=0 ); /* IE6-8 */
}
div.view.view-prescription-price-search.view-id-prescription_price_search.view-display-id-attachment_1{
  line-height: 60px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  padding: 0 0 0 20px;
  height: 60px;
}
div.view div.attachment div.view div.view-content h3 {
  display: none;
}
.view.view-prescription-price-search.view-id-prescription_price_search.view-display-id-attachment_1 .views-field.views-field-field-price,
.view.view-prescription-price-search.view-id-prescription_price_search.view-display-id-attachment_1  .views-field.views-field-field-price-1 {
  padding: 3px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding-left: 40px;
  color: #39b54a;
  margin: -5px 10px 0;
  background-color: #ffffff;
  float: right;
  box-shadow: 1px 1px 3px #cccccc;
  border: 3px solid #fe5520;
}
.view.view-prescription-price-search.view-id-prescription_price_search.view-display-id-attachment_1  .views-field.views-field-field-price {
  background: #ffffff url('green_down.png') 5px 10px no-repeat;
}
.view.view-prescription-price-search.view-id-prescription_price_search.view-display-id-attachment_1  .views-field.views-field-field-price-1 {
  background: #ffffff url('red_up.png') 5px 10px no-repeat;
  color: #d1181b;
}
.view.view-prescription-price-search.view-id-prescription_price_search.view-display-id-attachment_1 {
  margin: 0 0 -35px 0;
}